<app-header title="Home"></app-header>
<ion-content>
    <ion-segment [value]="segment" mode="md" (ionChange)="segmentChanged($event)">
        <ion-segment-button [value]="option.value" *ngFor="let option of segment_option">
            <ion-label>{{option.title}}</ion-label>
        </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="segment">
        <div *ngSwitchCase="'seller'" class="grid md:grid-cols-2 grid-cols-1">
            <ion-button (click)="createWorkSheet()" color="success">สร้างใบงาน</ion-button>
            <ion-card *ngFor="let workSheet of workSheetForSeller">
                <ion-card-header>
                    <ion-card-title class="flex flex-row justify-between items-center">
                        <div class="flex items-center gap-2">{{workSheet.serial_number}} {{workSheet.customer_name}}
                            <ion-icon class="text-2xl cursor-pointer" name="pencil-outline"
                                (click)="editWorkSheet(workSheet)"></ion-icon>
                        </div>
                        <div class="flex items-center gap-2">
                            <div *ngIf="workSheet.modify > 0" class="px-2 py-1 bg-red-500 rounded-md mr-2 text-white">แก้ครั้งที่ 
                                {{workSheet.modify}}</div>
                            <div class="px-2 py-1 bg-red-500 rounded-md mr-2 text-white">
                                {{workSheet.status}}</div>
                        </div>
                    </ion-card-title>
                    <ion-card-subtitle>
                        <div class="flex flex-wrap gap-2">
                            <div *ngIf="workSheet.is_urgent" class="px-2 py-1 bg-red-500 rounded-full text-white">
                                ด่วน</div>
                            <div class="px-2 py-1 bg-red-500 rounded-full text-white"
                                *ngIf="workSheet.date_of_acceptance">
                                นัดรับ {{formatTime(workSheet.date_of_acceptance)}}</div>
                            <div class="px-2 py-1 bg-red-500 rounded-full text-white"
                                *ngIf="workSheet.date_of_submission">
                                วันส่งแบบ {{formatTime(workSheet.date_of_submission)}}</div>
                            <div class="px-2 py-1 bg-red-500 rounded-full text-white" *ngIf="workSheet.print_date">
                                วันพิมพ์ {{formatTime(workSheet.print_date)}}</div>
                        </div>
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div *ngFor="let job of workSheet.work, let i = index ;">
                        {{i+1}}. {{job.type}} {{job.width + ' x ' + job.height + ' ' + job.unit_of_length}}
                        {{job.option}} จำนวน
                        {{job.quantity}} แผ่น
                    </div>
                </ion-card-content>
                <div class="flex justify-between items-center py-2 px-3">
                    <!-- <ion-button (click)="acceptJob(workSheet)" color="success">รับงาน</ion-button> -->
                    <div class="flex flex-row">
                        <div>S.{{workSheet.seller_name}} G.{{workSheet.design_by || '-'}}</div>
                    </div>
                    <div>
                        <ion-button *ngIf="workSheet.status === 'รอคอนเฟิร์มแบบ'" color="danger"
                            (click)="modifyWorkSheet(workSheet)">ส่งแก้ไข</ion-button>
                        <ion-button *ngIf="workSheet.status === 'รอคอนเฟิร์มแบบ'" color="success"
                            (click)="confirmWorkSheet(workSheet)">คอนเฟิร์ม</ion-button>
                        <ion-button *ngIf="workSheet.status === 'รอส่งมอบ'" color="success"
                            (click)="deliverWorkSheet(workSheet)">ส่งมอบ</ion-button>
                        <ion-button (click)="workSheetInfo(workSheet)">รายละเอียด</ion-button>
                    </div>
                </div>
            </ion-card>
        </div>
        <div *ngSwitchCase="'graphic'" class="grid md:grid-cols-2 grid-cols-1">
            <ion-card *ngFor="let workSheet of workSheetForGraphic">
                <ion-card-header>
                    <ion-card-title class="flex flex-row justify-between items-center">
                        <div class="flex items-center gap-2">{{workSheet.serial_number}} {{workSheet.customer_name}}
                            <ion-icon class="text-2xl cursor-pointer" name="pencil-outline"
                                (click)="editWorkSheet(workSheet)"></ion-icon>
                        </div>
                        <div class="flex items-center gap-2">
                            <div *ngIf="workSheet.modify > 0" class="px-2 py-1 bg-red-500 rounded-md mr-2 text-white">แก้ครั้งที่ 
                                {{workSheet.modify}}</div>
                            <div class="px-2 py-1 bg-red-500 rounded-md mr-2 text-white">
                                {{workSheet.status}}</div>
                        </div>
                    </ion-card-title>
                    <ion-card-subtitle>
                        <div class="flex flex-wrap gap-2">
                            <div *ngIf="workSheet.is_urgent" class="px-2 py-1 bg-red-500 rounded-full text-white">
                                ด่วน</div>
                            <div class="px-2 py-1 bg-red-500 rounded-full text-white"
                                *ngIf="workSheet.date_of_acceptance">
                                นัดรับ {{formatTime(workSheet.date_of_acceptance)}}</div>
                            <div class="px-2 py-1 bg-red-500 rounded-full text-white"
                                *ngIf="workSheet.date_of_submission">
                                วันส่งแบบ {{formatTime(workSheet.date_of_submission)}}</div>
                            <div class="px-2 py-1 bg-red-500 rounded-full text-white" *ngIf="workSheet.print_date">
                                วันพิมพ์ {{formatTime(workSheet.print_date)}}</div>
                        </div>
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div *ngFor="let job of workSheet.work, let i = index ;">
                        {{i+1}}. {{job.type}} {{job.width + ' x ' + job.height + ' ' + job.unit_of_length}}
                        {{job.option}} จำนวน
                        {{job.quantity}} แผ่น
                    </div>
                </ion-card-content>
                <div class="flex justify-between items-center py-2 px-3">
                    <!-- <ion-button (click)="acceptJob(workSheet)" color="success">รับงาน</ion-button> -->
                    <div class="flex flex-row">
                        <div>S.{{workSheet.seller_name}} G.{{workSheet.design_by || '-'}}</div>
                    </div>
                    <div>
                        <!-- รับออกแบบ -->
                        <ion-button *ngIf="workSheet.status === 'รอออกแบบ'" color="success"
                            (click)="acceptWorkSheet(workSheet)">รับออกแบบ</ion-button>
                        <ion-button *ngIf="workSheet.status === 'กำลังออกแบบ'" color="success"
                            (click)="offerWorkSheet(workSheet)">ส่งแบบ</ion-button>
                        <ion-button *ngIf="workSheet.status === 'คอนเฟิร์มแล้ว'" color="success"
                            (click)="sendProductionWorkSheet(workSheet)">ส่งผลิต</ion-button>
                        <ion-button (click)="infoJob(workSheet)">รายละเอียด</ion-button>
                    </div>
                    <!-- <ion-button (click)="rejectJob(workSheet)" color="danger">ปฏิเสธ</ion-button> -->
                </div>
            </ion-card>
        </div>
        <div *ngSwitchCase="'production'" class="grid md:grid-cols-2 grid-cols-1">
            <ion-card *ngFor="let workSheet of workSheetForProduction">
                <ion-card-header>
                    <ion-card-title class="flex flex-row justify-between items-center">
                        <div class="flex items-center gap-2">{{workSheet.serial_number}} {{workSheet.customer_name}}
                            <ion-icon class="text-2xl cursor-pointer" name="pencil-outline"
                                (click)="editWorkSheet(workSheet)"></ion-icon>
                        </div>
                        <div class="px-2 py-1 bg-red-500 rounded-md mr-2 text-white">
                            {{workSheet.status}}</div>
                    </ion-card-title>
                    <ion-card-subtitle>
                        <div class="flex flex-wrap gap-2">
                            <div *ngIf="workSheet.is_urgent" class="px-2 py-1 bg-red-500 rounded-full text-white">
                                ด่วน</div>
                            <div class="px-2 py-1 bg-red-500 rounded-full text-white"
                                *ngIf="workSheet.date_of_acceptance">
                                นัดรับ {{formatTime(workSheet.date_of_acceptance)}}</div>
                            <div class="px-2 py-1 bg-red-500 rounded-full text-white"
                                *ngIf="workSheet.date_of_submission">
                                วันส่งแบบ {{formatTime(workSheet.date_of_submission)}}</div>
                            <div class="px-2 py-1 bg-red-500 rounded-full text-white" *ngIf="workSheet.print_date">
                                วันพิมพ์ {{formatTime(workSheet.print_date)}}</div>
                        </div>
                    </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div *ngFor="let job of workSheet.work, let i = index ;">
                        {{i+1}}. {{job.type}} {{job.width + ' x ' + job.height + ' ' + job.unit_of_length}}
                        {{job.option}} จำนวน
                        {{job.quantity}} แผ่น
                    </div>
                </ion-card-content>
                <div class="flex justify-between items-center py-2 px-3">
                    <!-- <ion-button (click)="acceptJob(workSheet)" color="success">รับงาน</ion-button> -->
                    <div class="flex flex-row">
                        <div>S.{{workSheet.seller_name}} G.{{workSheet.design_by || '-'}}</div>
                    </div>
                    <div>
                        <ion-button *ngIf="workSheet.status === 'รอผลิต'" color="success"
                            (click)="confirmWorkSheet(workSheet)">ส่งผลิต</ion-button>
                        <ion-button *ngIf="workSheet.status === 'กําลังผลิต'" color="success"
                            (click)="confirmWorkSheet(workSheet)">ส่งงาน</ion-button>
                        <ion-button (click)="infoJob(workSheet)">รายละเอียด</ion-button>
                    </div>
                    <!-- <ion-button (click)="rejectJob(workSheet)" color="danger">ปฏิเสธ</ion-button> -->
                </div>
            </ion-card>
        </div>
        <div *ngSwitchCase="'rejected-canceled'" class="grid md:grid-cols-2 grid-cols-1">
            <ion-card *ngFor="let job of jobRejectedCanceled">
                <ion-card-header>
                    <ion-card-title>{{job.book.time[0]}} {{getSiteName(job.site_id)}} {{job.address}}</ion-card-title>
                    <ion-card-subtitle>{{formatTime(job.book.date)}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div>
                        {{job.phone}}<br>
                        {{job.type}} จำนวน {{job.qty || 1}} เครื่อง
                    </div>
                </ion-card-content>
                <div class="flex justify-end p-3">
                    <!-- <ion-button (click)="completeJob(job)" color="success">ส่งงาน</ion-button>
                    <ion-button (click)="reportJob(job)" color="warning">รายงาน</ion-button> -->
                    <ion-button (click)="infoJob(job)">รายละเอียด</ion-button>
                </div>
            </ion-card>
        </div>
    </div>
</ion-content>