<div class="form-control">
  <label [for]="formControlName" class="block my-1 text-sm font-medium text-black">
    <span>{{label}}<span class="text-red-500" [hidden]="!isRequired">*</span></span>
  </label>

  <div class="input-wrap">
    <select
      [name]="formControlName"
      [id]="formControlName"
      [multiple]="multiple"
      (change)="onChange($event)"
      class="custom-input w-full border-2 border-ink rounded-md px-3 py-2 bg-white text-body font-semibold outline-none"
    >
      <option [value]="null" *ngIf="!multiple && placeholder" disabled selected>{{ placeholder }}</option>
      <option
        *ngFor="let option of options"
        [disabled]="option.disabled"
        [ngValue]="option"
      >{{ option.title }}</option>
    </select>
    <div #childrenWrapper>
      <ng-content></ng-content>
    </div>
  </div>

  <span class="field-error text-red-500" *ngIf="!formField?.valid && formField?.touched">
    {{'ERROR.' + errorMessage }}
  </span>
</div>
